@import "reset.css";
@import "animations.css";
@import "variables.css";
.hidden {
  display: none;
  animation: fadeOut 0.5s linear;
}
body {
  animation: fadeIn 0.5s linear;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.wallpaper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.box {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  margin-bottom: 40px;
}

.login-form__text {
  width: 200px;
  height: 100px;
  border: none;
  border-bottom: 1px solid aliceblue;
  background: transparent;
  font-size: 70px;
  color: aliceblue;
  text-align: center;
}

.login-form__button {
  border: none;
  padding: 30px 30px;
  font-size: 70px;
  background: transparent;
  color: aliceblue;
}

.greeting {
  animation: fadeIn 0.5s linear;
  font-size: 100px;
  color: aliceblue;
  text-align: center;
  margin-bottom: 60px;
}

.clock {
  font-size: 90px;
  color: aliceblue;
  margin-bottom: 40px;
}

.todo-form__text {
  width: 400px;
  height: 40px;
  border: 1px solid var(--myyellow);
  border-radius: 10px;
  background: transparent;
  color: aliceblue;
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.todo-form__text::placeholder {
  color: white;
  opacity: 0.5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.todo-list {
  font-weight: 600;
  font-size: 25px;
  text-decoration: underline;
  color: var(--myyellow);
}

.todo-list button {
  font-size: 25px;
  margin-left: 10px;
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

.quotes {
  position: fixed;
  bottom: 15px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
}
